<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>dispatch</servlet-name>
        <servlet-class>dispatcher.dispatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>Servlet.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>Servlet.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>Servlet.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>Servlet.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCartServlet</servlet-name>
        <servlet-class>Servlet.addToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suly</servlet-name>
        <servlet-class>Servlet.suly</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkoutServlet</servlet-name>
        <servlet-class>Servlet.checkoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveOrder</servlet-name>
        <servlet-class>Servlet.saveOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mangeServlet</servlet-name>
        <servlet-class>Servlet.mangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mangeAcc</servlet-name>
        <servlet-class>Servlet.mangeAcc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mangeCate</servlet-name>
        <servlet-class>Servlet.mangeCate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeAccount</servlet-name>
        <servlet-class>Servlet.changeAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePlant</servlet-name>
        <servlet-class>Servlet.changePlant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAccount</servlet-name>
        <servlet-class>Servlet.deleteAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatch</servlet-name>
        <url-pattern>/dispatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartServlet</servlet-name>
        <url-pattern>/addToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suly</servlet-name>
        <url-pattern>/suly</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkoutServlet</servlet-name>
        <url-pattern>/checkoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveOrder</servlet-name>
        <url-pattern>/saveOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mangeServlet</servlet-name>
        <url-pattern>/mangeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mangeAcc</servlet-name>
        <url-pattern>/mangeAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mangeCate</servlet-name>
        <url-pattern>/mangeCate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeAccount</servlet-name>
        <url-pattern>/changeAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePlant</servlet-name>
        <url-pattern>/changePlant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAccount</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
